<div class="container">
<br>
<br>
<br>
<br>
<br>
<br>
<center>
<h1> Liste des Activites</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nom d'evenement </th>
      <th scope="col">type d'evenement</th>
      <th scope="col">date d'evenement</th>
      <th scope="col">description</th>
<th scope="col"> </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
  {%  for a in  b %}
    <tr>
      <td scope="row">{{a.id}}</td>
      <td>{{a.nomevenement}}</td>
      <td>{{a.typeevenement}}</td>
      <td>{{a.dateevenement|date('Y-m-d')}}</td>
      <td>{{a.description}}</td>

<td>  <a class="btn btn-sm btn-success" href="{{ path('modifierevent', {id:a.id})}}">Modifier</a></td>

<td>  <a class="btn btn-sm btn-danger" href="{{ path('supp', {id:a.id}) }}">Supprimer</a></td>
  

    </tr>
 
    {%  endfor %}
  </tbody>
</table>

<form action="{{ path('addevenement') }}">
    <button class="btn btn-round btn-facebook">Ajouter</button>
</form>  


</center>
</div>